/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.no-margin {
  margin: 0;
}
.btn-green {
  background-color: #3AE2B6;
  color: $main-font-color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #0AB588 1px solid;
  &:hover {
    background-color: #86EFD3;
    color: #5F5E5E;
    border: #0CCC99 1px solid;
  }
}
