/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white !important;
}
.alert-notice {
  background: $blue;
}
.alert-alert {
  background: $orange;
}
.alert-error {
  background: $red;
}
.alert-success {
  background: $green;
}
