/* Popover */
.popover {
  border: 1px solid #E4E1E1;
}
/* Popover Header */
.popover-title {
}
/* Popover Body */
.popover-content {
  background-color: #464646;
  color: #E4E1E1;
  padding: 0.5em;
  font-size: 0.9em;
}
/* Popover Arrow */
.arrow {
  border-top: 1px solid #E4E1E1 !important;
}
